.Wrapper_test{
    margin-left: 175px;
    display: flex;
}

.LeftBody{

}

.WrapperImageTest{
    width: 400px;
}
.imageTest{
    width: 100%;
}

.audioTest{

}

.RightBody{

}

.answer{

}
