.bodys{
    display: flex;
}

.WrapperTest{
  width: calc(100% - 300px);
}

.namePart{
  padding: 42px 37px;
}

.itemsTest{
    display: flex;
    justify-content: space-evenly;
}

.test{
    background: antiquewhite;
    width: 165px;
    height: 165px;
}
.card {
  width: 185px;
  height: 240px;
  background: white;
  padding: 20px 20px 0 20px;
  border-radius: 5px;
  }
  
  .card-image {
    background-color: rgb(236, 236, 236);
    width: 100%;
    height: 60%;
    border-radius: 5px;
  }
  
  .card-image:hover {
    transform: scale(0.98);
  }
  
  .category {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 600;
    color: rgb(63, 121, 230);
    padding: 10px 7px 0;
    text-align: center;
  }
  
  .category:hover {
    cursor: pointer;
  }
  
  .heading {font-size: 12px;
    font-weight: 600;
    color: rgb(88, 87, 87);
    padding: 7px;
  }
  
  .heading:hover {
    cursor: pointer;
  }
  
  .author {
    color: gray;
    font-weight: 400;
    font-size: 11px;
    padding-top: 20px;
  }
  
  .name {
    font-weight: 600;
  }
  
  .name:hover {
    cursor: pointer;
  }

  .numPerson{
    margin-left: 5 px;
  }