.SideBar{
    width: 300px;
    border-right: 1px solid #b3b3b3;
}

.SidebarLR{
    padding: 40px 0px;
}

.NamePage{
    text-align: center;
    font-weight: 900;
    font-size: 1.6rem;
}

.titleSidebarLR{
    text-align: center;
    padding: 5px 25px;
    margin: 0;
}

.LRlist{
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    flex-direction: column;
    align-items: center;
}

.LRlist li {
    background-color: white;
    margin: 5px 0px;
    border-radius: 5px;
    width: 80%;
    cursor: pointer;
    text-align: center;
    /* width: 100%; */
    padding: 10px 0;

}

.LRlist li:hover {
    background-color: #F8A475;
    color: white;
}

.SidebarSW{

}

.titleSidebarWR{
    text-align: center;
    padding: 5px 25px;
    margin: 0;
}

.WRlist{
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    flex-direction: column;
    align-items: center;

}
.WRlist li {
    background-color: white;
    margin: 5px 0px;
    border-radius: 5px;
    width: 80%;
    cursor: pointer;
    text-align: center;
    /* width: 100%; */
    padding: 10px 0;
}

.WRlist li:hover {
    background-color: #F8A475;
    color: white;
}
