.footer{
    display: flex;
    /* text-align: center; */
    background: bisque;
    width: 100%;
    height: 66px;
    align-items: center;
    justify-content: center;
}

.titleFooter{

}